{% extends 'layout.html' %}

{% block pageTitle %}
EUA Agreement | External Reporting User Onboarding
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
{% from 'back-link/macro.njk' import backLink %}

<div class="nhsuk-back-link">
<a class="nhsuk-back-link__link nhsuk-u-margin-bottom-8" href="/index">
<svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
<path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
</svg>
Go back</a>
</div> 

<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-three-quarters">
<header class="page-header">
<h1>Login Details</h1>
</header>

<h2>ePACT2 user agreement (EUA)</h2>

<p>This ePACT2 User Agreement (EUA) is a legal agreement between you 
(either an individual or a single entity) and the NHS Business Services Authority (NHSBSA).</p>


<p>NHSBSA grants you the right to access the NHSBSA’s online system, ePACT2, which includes 
computer software, the data supplied with it, and any associated media, printed materials, 
electronic documentation and internet-based services (ePACT2 system), provided that you 
comply with all terms and conditions of this EUA.</p>

<p>The right of access cannot be transferred to anyone else.</p>

<h3>Definitions</h3>

<p><b>Confidential information</b> means any information containing personal data, financial 
information and any other information clearly designated as being confidential (whether 
it is marked as 'confidential' or not) or which ought reasonably to be considered to be 
confidential.</p>

<p><b>Data breach</b> means a breach of security or security 
incident which leads to the accidental, wrongful or unlawful destruction, loss, 
alteration, unauthorised disclosure of, or access to data or information contained 
within or obtained via the ePACT2 system.</p>

<p><b>Personal data</b> means information relating to natural 
persons who can be identified or who are identifiable directly from the information 
or who can be indirectly identified from the information in combination with other 
information.</p>

<h3>User obligations</h3>

<p>The ePACT2 system is provided to facilitate effective monitoring, management and 
optimisation of the use of medicinal services within the NHS and wider Government 
commissioned services.</p>

<p>The ePACT2 system may not be used for personal purposes or to profit or otherwise
benefit individuals or non-NHS organisations and you agree not to use or access any
information via the ePACT2 system unless necessary for the performance of your duties
for the NHS and/or and wider Government commissioned services.</p>

<p>You are responsible for ensuring the accurate production of any reports produced through the 
ePACT2 system. The NHSBSA shall not be liable for any losses or damage incurred by inappropriate 
or inaccurate use of any data provided through the ePACT2 system or reliance upon any inaccurate 
reports produced by users.</p>

<p>You agree not to publish or to use or include in any material which will be made public, any 
information obtained via ePACT2 without the prior written consent of the NHSBSA. Where consent 
of the NHSBSA is obtained, you must reference the data/information in accordance with the 
referencing instructions provided by the NHSBSA.</p>

<p>Access to the ePACT2 system through any allocated user ID is restricted to one named registered 
user. You must not share access, passwords, usernames or log on details to the ePACT2 system with 
any other person. Passwords must not be written down.</p>

<p>Where you no longer require the use of the system, your personal details/ contact details change 
or where your role or circumstances change such that you no longer satisfy the terms of this 
agreement you are required to advise NHSBSA to this effect so that the account can be withdrawn 
or amended as necessary.</p>

<p>You must not access the ePACT2 system using an email address/account which you no longer use, 
or which has become inactive. Where your email address changes/becomes inactive you must 
notify NHSBSA as soon as possible so that NHSBSA records can be updated.</p>


<p>You are not permitted to access the ePACT2 system from outside the UK and the NHSBSA reserves 
the right to restrict access from any non-UK IP addresses.</p>

<p>You agree that NHSBSA has the right to audit your and/or your employer’s use of ePACT2 and 
you and/or your employer will provide information and reasonable cooperation to the NHSBSA 
upon request.</p>

<p>You agree that the NHSBSA has the right to withdraw access to ePACT2 where you have 
breached or no longer satisfy the terms of this EUA, where any other abuse of ePACT2 
is understood to have occurred (including unreasonably excessive use) or there has been 
a Data Breach.</p>

<p>The NHSBSA has the right to suspend an organisation’s access to ePACT2 pending an 
NHSBSA investigation into a user’s breach of the EUA, other abuse of the ePACT2 system 
or a Data Breach. You agree that where the NHSBSA considers it appropriate to do so 
following an investigation, the NHSBSA has the right to terminate an organisation’s 
access to ePACT2.</p>

<p>You are responsible for informing the NHSBSA if you have access to information you 
do not consider to be appropriate to your NHS/Wider Government role. Where you become
aware that you have access to personal data which is not appropriate to your NHS/Wider 
Government role, you should report this to the NHSBSA via email at 
ePACT2support@nhsbsa.nhs.uk as soon as possible and in any event within 24 hours of 
becoming aware.</p>

<p>You are responsible for informing the NHSBSA promptly if you become aware of a data 
breach which does not concern any personal data. Such a data breach must be reported 
to NHSBSA via email at ePACT2support@nhsbsa.nhs.uk as soon as possible.</p>

<p>You are responsible for notifying the NHSBSA if you consider your organisation's 
data and security standards, policies and procedures and technical and 
organisational measures are not equivalent to the standard of security required 
by NHS security policies and the NHSBSA reserves the right to audit your 
organisation’s measures, standards, policies and procedures. Please contact 
NHSBSA via email at ePACT2support@nhsbsa.nhs.uk if you require information on the 
data and security standards that are required by NHSBSA to be in place.</p>

<h3>Freedom of information requests</h3>

<p>For the purposes of Freedom of Information (FOI) legislation, ePACT2 system 
information is held by the NHSBSA. You agree not to use the ePACT2 system to 
download information to answer an FOI request.  You must refer the FOI requester 
to nhsbsa.foirequests@nhs.net.</p>

<p>The only exception to this is where you have downloaded ePACT2 information 
to your local systems before the FOI request was received.  Where this is the 
case, you agree to consult with NHSBSA at foidata@nhsbsa.nhs.uk before 
responding to the FOI request.</p>

<h3>Personal data</h3>

<p>You agree that you will comply with all data and security standards, policies 
and procedures applicable to you as an employee or contractor of the NHS or wider 
Government commissioned service and that you will only use, hold and distribute 
data accessed via the ePACT2 system within the NHS/wider Government and solely 
as required for the purposes of your employment.</p>

<p>Where data you have obtained via the ePACT2 system is no longer required, it 
must be destroyed in a secure manner in accordance with any applicable 
legislation and/or NHS data retention policies and/or the instructions of the 
NHSBSA.</p>

<p>You agree that you and your employer have in place appropriate technical 
and organisational measures to prevent unauthorised or unlawful processing 
of personal data and to prevent accidental loss or destruction of, or damage 
to personal data which are at least equivalent to the standard of security 
required by the NHS security policies, and you and your employer shall take 
reasonable steps to ensure the reliability of any employees who will have 
access to Personal Data.</p>

<p>You will be liable for any breach of confidence, breach of Data Protection 
legislation and/or data breach which involves any personal data and upon 
becoming aware of such an incident you are required to report this to the 
Information Commissioner's Office (ICO) as soon as possible.</p>

<p>NHSBSA must also be advised of any Data Breach or suspected data breach 
concerning personal data without undue delay, and in any event within 24 
hours of you becoming aware of such a breach or suspected breach, via 
email at ePACT2support@nhsbsa.nhs.uk.</p>

<p>Any small number, rate or percentage derived from NHSBSA data must be 
suppressed if there is a risk of identification. Figures that may 
identify individuals when subtracted from totals, subtotals or other 
published figures must also be suppressed.</p>

<h3>Confidentiality</h3>

<p>You acknowledge that in using the ePACT2 system you may have access to 
confidential information with respect to prescribing activity.</p>

<p>You agree that you shall hold any confidential information in confidence and, 
unless required by law, shall not:</p>

<ul>
<li>Make any confidential information available to any third party (other than to a 
party to whom you are satisfied that you may legally disclose such confidential 
information); or</li>
<li>Use the confidential information for any purpose otherwise than in the proper 
performance of your duties as an NHS employee or contractor (as applicable); or</li>
<li>Permit or cause any unauthorised disclosure of confidential information through 
any failure to exercise due care and diligence; or</li>
<li>Release any data in public that could allow information about an individual that 
is not already public to become identifiable, or able to be deduced from any other 
data.</li>
</ul>

<h3>Cookies</h3>

<p>You agree that cookies are enabled on the ePACT2 Access Management system. 
The purpose of the cookie is to aid the login process by ensuring your user 
details do not have to be re-entered.</p>

<p><a href="https://www.nhsbsa.nhs.uk/our-policies/privacy">
The information relating to cookies can be found on our website.</a></p>



<h3>Login details</h3>

<p>All the information you provide when you register will be used to manage access to the ePACT2 system.</p>

<p>The email address you provide may also be used by NHSBSA for service-related communications and sending
you newsletters relevant to our Information Systems.</p>

<p>If required, we may use the email address provided to:</p>

<ul>
<li>contact you to complete surveys relating to NHSBSA services and systems.</li>
<li>Invite you to take part in research to help improve our services to you.</li>
</ul>

<p>If you need to update, receive a copy of or delete your registration information then please contact
<a href="registration@nhsbsa.nhs.net">
registration@nhsbsa.nhs.uk.</a></p>


<p>Audits will be carried out incrementally by NHSBSA on ePACT2 system user accounts to 
identify and remove inactive accounts (any accounts that have not been used by a user 
during the period stipulated will be removed):</p>

<ul>
<li>Advanced user access (including access prescriber level and finance information) – 
4 months</li>
<li>Standard user access – 6 months.</li>
</ul>

<p>We will keep your information for 12 months after your account is closed.  This is to 
ensure that all transactions can be fully audited.</p>

<p><b>We do not disclose this information to third party organisations.</b></p>

<hr>

<form>

<div class="nhsuk-form-group">

<div class="nhsuk-checkboxes">

<div class="nhsuk-checkboxes__item">
<input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
<label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
  Tick this box to agree to the EUA.
</label>
</div>

</div>
</fieldset>

</div>

</form>


</dl>
</div>
</div><a class="nhsuk-button nhsuk-u-margin-bottom-8"
href="/your-details-epact2">Submit</a> 

{% endblock %}
</body>
</html>